<div class="row center dashboard-button">
  <div class="col-md-12 col-sm-12">
    <% @tasks.each do |task| %>
      <p><%= task.description %></p>
      <p><%= task.price %></p>
      <p><%= task.due_date %></p>
    <%end%>
  </div>
</div>
