<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-md-offset-3">
            <p>Logged in Parent: <%= debug session[:parent_id] %></p>
            <p>Parent created Child: <%= debug session[:child_id] %></p>
            <p>Logged in Child: <%= debug session[:logged_child_id] %></p>
        </div>
    </div>
</div>