<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <div class="dashboard-header">
        <h1>Do Chores, Get Money</h1>
      </div>
      <div class="dashboard-subheader">
        <h4>Tidy Bank makes chores fun for the whole family!</h4>
      </div>
    </div>
  </div>
</div>
<div class="row center dashboard-button">
  <div class="col-md-12">
    <div class="btn-group">
      <%= button_to('Sign up for Free!', { controller: 'parents', action: 'new' }, class: 'btn btn-default btn-lg button', method: :get) %>
    </div>
  </div>
</div>
<div class="row center dashboard-button">
  <div class="col-md-12">
    <div class="btn-group">
      <%= button_to('Parent Login', { controller: 'sessions', action: 'new' }, class: 'btn btn-default btn-lg button', method: :get) %>
    </div>
  </div>
</div>
<div class="row center dashboard-button">
  <div class="col-md-12">
    <div class="btn-group">
      <%= button_to('Kid Login', { controller: 'sessions', action: 'new' }, class: 'btn btn-default btn-lg button', method: :get) %>
    </div>
  </div>
</div>
