
<div class="row center dashboard-button">
  <div class="col-md-12">
    <div class="btn-group">
      <%= button_to('Add a Kid', { controller: 'children', action: 'new' }, class: 'btn btn-default btn-lg button', method: :get) %>
    </div>
  </div>
</div>
<div class="row center dashboard-button">
  <div class="col-md-12">
    <div class="btn-group">
      <%= link_to 'Joey', parent_path(@parent), class: 'btn btn-default btn-lg button' %>
    </div>
  </div>
</div>


