<div class="row center dashboard-button">
  <div class="col-md-12.col-sm-12">
    <div class="btn-group">
    <% if @children.length == 1  %>
      <%= link_to @children.first.first_name, new_task_path(child: @children.first.id), class: 'btn btn-default btn-lg button' %>
    </div>
      <% elsif @children.length >= 2 %>
      <% @children.each do |child| %>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="btn-group">
              <%= link_to child.first_name, new_task_path(child: child.id), class: 'btn btn-default btn-lg button' %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row center dashboard-button">
  <div class="col-md-12">
    <div class="btn-group">
      <%= button_to('Add a Kid', { controller: 'children', action: 'new' }, class: 'btn btn-default btn-lg button', method: :get) %>
    </div>
  </div>
</div>

