
<div class="row center dashboard-button">
  <div class="col-md-12">
    <div class="btn-group">
      <%= button_to('Add a Kid', { controller: 'parents', action: 'new' }, class: 'btn btn-default btn-lg button', method: :get) %>
    </div>
  </div>
</div>

