// Place all the styles related to the parents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-green: #B2DBBF;
$dark-green: #70C1B3;
$yellow: #F3FFBD;
$red: #FF1654;
$blue: #247BA0;
$bg-color: #BAE6F1;


